.register_button{
    top: 0;
    right: 0;
    position:absolute;
    display: inline-block;
    border-left: 1px solid #e9e7e7;
    color: #3b3a3a;
    padding:12px 50px 12px 30px ;
}
.register_button__title{
    font-size: 15px;
    padding: 0px 10px 0px 10px;
    font-weight: 800;
}